{% extends "base.html" %}

{% block title %}
Population rating
{% endblock %}

{% block content %}

<div class="title"><h1>Popultion Rating</h1></div>


{% for el in region_list %}
<div class="block">
    <div>
        <h2>{{ el[0] }}</h2>
        <h5 class="num"> Total population: {{ el[0].population | sum(attribute='population') | numberFormat }}</h5>
    </div>
    <div class="maximum">
        <h4> Maximum population </h4>
        <h5> {{ el[2] }} </h5>
    </div>
    <div class="minimum">
        <h4> Minimum population </h4>
        <h5> {{ el[1] }} </h5>
    </div>
</div>
{% endfor %}


{% endblock %}